@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand';
  color: #131936;
  background-color: #e5e5e5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.2rem;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 991px;
  }
}
